@import "base/reset";
@import "base/color";
@import "base/root";
@import "base/mixin";

.header {
  padding-top: 3.6rem;
  height: 82rem;
  background: linear-gradient(
    131.1deg,
    rgba(54, 133, 251, 0.05) 0%,
    rgba(54, 133, 251, 0) 73.29%
  );
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
    gap: 0 4rem;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 0 4rem;
  }

  &__logo {
    width: 10.9rem;
    height: 3.4rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__search {
    position: relative;
    width: 28.8rem;
    height: 5rem;

    &-icon {
      width: 1.8rem;
      height: 1.8rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1.8rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-input {
      border: 1px solid #e6e9ed;
      border-radius: 2.5rem;
      width: 100%;
      height: 100%;
      padding-left: 5rem;
      padding-right: 2rem;
      outline: none;

      color: #a9afb9;
      font-family: "Poppins", sans-serif;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 2.6rem;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 0 4rem;

    .active {
      a {
        color: #3685fb;
        font-weight: 600;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          background-color: #3685fb;
          display: block;
          width: 1.2rem;
          height: 0.2rem;
          top: 110%;
          border-radius: 0.1rem;
        }
      }
    }
  }

  &__link {
    a {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.8rem;
      color: #52575f;
    }
  }

  &__btn {
    padding: 1.1rem 2.7rem;
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.8rem;
    background: #3685fb;
    border-radius: 2.4rem;
  }
}

.hero {
  margin-top: 6.4rem;
  display: flex;
  align-items: center;
  gap: 0 13rem;

  &__img {
    min-width: 57rem;
    height: 60rem;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 7.2rem;
    color: #05101f;
    letter-spacing: -2%;

    &-top {
      color: $lime;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 3rem;
    }
  }

  &__smile {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__subheading {
    margin-top: 2.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #52575f;
  }

  &__btn {
    margin-top: 3.6rem;
    display: flex;
    align-items: center;
    gap: 0 2.6rem;
  }

  &__plan {
    padding: 1.7rem 4.2rem;
    min-width: 18rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3rem;
    background-color: #3685fb;
    color: white;
    border-radius: 3.2rem;
  }

  &__watch {
    display: flex;
    align-items: center;
    gap: 0 3.6rem;

    &-btn {
      position: relative;
    }

    &-img {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
    }

    &-play {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 4rem;
      height: 4rem;
      right: -25%;
      padding: 1.4rem;
      background-color: white;
      border-radius: 100rem;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-title {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 3rem;
      min-width: 14.8rem;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 17rem 0;
}
