/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Sen", sans-serif;
  font-size: 62.5%;
  font-style: normal;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 2rem;
}

a {
  text-decoration: none;
  color: #000000;
}

.header {
  padding-top: 3.6rem;
  height: 82rem;
  background: linear-gradient(131.1deg, rgba(54, 133, 251, 0.05) 0%, rgba(54, 133, 251, 0) 73.29%);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__left {
  display: flex;
  align-items: center;
  gap: 0 4rem;
}
.navbar__right {
  display: flex;
  align-items: center;
  gap: 0 4rem;
}
.navbar__logo {
  width: 10.9rem;
  height: 3.4rem;
}
.navbar__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navbar__search {
  position: relative;
  width: 28.8rem;
  height: 5rem;
}
.navbar__search-icon {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.8rem;
}
.navbar__search-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navbar__search-input {
  border: 1px solid #e6e9ed;
  border-radius: 2.5rem;
  width: 100%;
  height: 100%;
  padding-left: 5rem;
  padding-right: 2rem;
  outline: none;
  color: #a9afb9;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.6rem;
}
.navbar__links {
  display: flex;
  align-items: center;
  gap: 0 4rem;
}
.navbar__links .active a {
  color: #3685fb;
  font-weight: 600;
  position: relative;
}
.navbar__links .active a::after {
  content: "";
  position: absolute;
  background-color: #3685fb;
  display: block;
  width: 1.2rem;
  height: 0.2rem;
  top: 110%;
  border-radius: 0.1rem;
}
.navbar__link a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #52575f;
}
.navbar__btn {
  padding: 1.1rem 2.7rem;
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.8rem;
  background: #3685fb;
  border-radius: 2.4rem;
}

.hero {
  margin-top: 6.4rem;
  display: flex;
  align-items: center;
  gap: 0 13rem;
}
.hero__img {
  min-width: 57rem;
  height: 60rem;
  width: 100%;
}
.hero__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__content {
  display: flex;
  flex-direction: column;
}
.hero__heading {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 7.2rem;
  color: #05101f;
  letter-spacing: -2%;
}
.hero__heading-top {
  color: #14b8a7;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
}
.hero__smile {
  display: inline-block;
  width: 4.8rem;
  height: 4.8rem;
}
.hero__smile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__subheading {
  margin-top: 2.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #52575f;
}
.hero__btn {
  margin-top: 3.6rem;
  display: flex;
  align-items: center;
  gap: 0 2.6rem;
}
.hero__plan {
  padding: 1.7rem 4.2rem;
  min-width: 18rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
  background-color: #3685fb;
  color: white;
  border-radius: 3.2rem;
}
.hero__watch {
  display: flex;
  align-items: center;
  gap: 0 3.6rem;
}
.hero__watch-btn {
  position: relative;
}
.hero__watch-img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}
.hero__watch-play {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 4rem;
  right: -25%;
  padding: 1.4rem;
  background-color: white;
  border-radius: 100rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__watch-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
  min-width: 14.8rem;
}

.main {
  margin-top: 17rem;
  display: flex;
  flex-direction: column;
  gap: 17rem 0;
}

.destination {
  width: 100%;
}
.destination__container {
  display: flex;
  flex-direction: column;
  gap: 5.5rem 0;
}
.destination__header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.6rem 0;
}
.destination__title {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 5.2rem;
  letter-spacing: -2%;
}
.destination__subtitle {
  max-width: 50.7rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #52575f;
}
.destination__btn {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0 1.8rem;
  bottom: 0;
  right: 0;
}
.destination__btn-back {
  width: 4.4rem;
  height: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 1.7rem;
  border-radius: 100rem;
  border: 1px solid #3685fb;
}
.destination__btn-next {
  width: 4.4rem;
  height: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 1.7rem;
  border-radius: 100rem;
  background-color: #3685fb;
}
.destination__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 3rem;
}
.destination__card {
  position: relative;
  border-radius: 3rem;
}
.destination__card:hover .destination__info {
  opacity: 1;
  visibility: visible;
}
.destination__info {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 1.6rem;
  left: 1.6rem;
  right: 1.6rem;
  padding: 1.8rem 3.9rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem 0;
  text-align: center;
  background: rgba(5, 16, 31, 0.15);
  backdrop-filter: blur(30px);
  border-radius: 12px;
  transition: all 0.2s linear;
}
.destination__name {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #eff3ff;
}
.destination__location {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: white;
}

/*# sourceMappingURL=style.css.map */
