@import "base/reset";
@import "base/color";
@import "base/root";
@import "base/mixin";

.header {
  padding-top: 3.6rem;
  height: 82rem;
  background: linear-gradient(
    131.1deg,
    rgba(54, 133, 251, 0.05) 0%,
    rgba(54, 133, 251, 0) 73.29%
  );
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
    gap: 0 4rem;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 0 4rem;
  }

  &__logo {
    width: 10.9rem;
    height: 3.4rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__search {
    position: relative;
    width: 28.8rem;
    height: 5rem;

    &-icon {
      width: 1.8rem;
      height: 1.8rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1.8rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-input {
      border: 1px solid #e6e9ed;
      border-radius: 2.5rem;
      width: 100%;
      height: 100%;
      padding-left: 5rem;
      padding-right: 2rem;
      outline: none;

      color: #a9afb9;
      font-family: "Poppins", sans-serif;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 2.6rem;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 0 4rem;

    .active {
      a {
        color: #3685fb;
        font-weight: 600;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          background-color: #3685fb;
          display: block;
          width: 1.2rem;
          height: 0.2rem;
          top: 110%;
          border-radius: 0.1rem;
        }
      }
    }
  }

  &__link {
    a {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.8rem;
      color: #52575f;
    }
  }

  &__btn {
    padding: 1.1rem 2.7rem;
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.8rem;
    background: #3685fb;
    border-radius: 2.4rem;
  }
}

.hero {
  margin-top: 6.4rem;
  display: flex;
  align-items: center;
  gap: 0 13rem;

  &__img {
    min-width: 57rem;
    height: 60rem;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 7.2rem;
    color: #05101f;
    letter-spacing: -2%;

    &-top {
      color: $lime;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 3rem;
    }
  }

  &__smile {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__subheading {
    margin-top: 2.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #52575f;
  }

  &__btn {
    margin-top: 3.6rem;
    display: flex;
    align-items: center;
    gap: 0 2.6rem;
  }

  &__plan {
    padding: 1.7rem 4.2rem;
    min-width: 18rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3rem;
    background-color: #3685fb;
    color: white;
    border-radius: 3.2rem;
  }

  &__watch {
    display: flex;
    align-items: center;
    gap: 0 3.6rem;

    &-btn {
      position: relative;
    }

    &-img {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
    }

    &-play {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 4rem;
      height: 4rem;
      right: -25%;
      padding: 1.4rem;
      background-color: white;
      border-radius: 100rem;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-title {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 3rem;
      min-width: 14.8rem;
    }
  }
}

.main {
  margin-top: 17rem;
  display: flex;
  flex-direction: column;
  gap: 17rem 0;
}

.destination {
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 5.5rem 0;
  }

  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.6rem 0;
  }

  &__title {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 5.2rem;
    letter-spacing: -2%;
  }

  &__subtitle {
    max-width: 50.7rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #52575f;
  }

  &__btn {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 0 1.8rem;
    bottom: 0;
    right: 0;

    &-back {
      width: 4.4rem;
      height: 4.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.4rem 1.7rem;
      border-radius: 100rem;
      border: 1px solid #3685fb;
    }

    &-next {
      width: 4.4rem;
      height: 4.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.4rem 1.7rem;
      border-radius: 100rem;
      background-color: #3685fb;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 3rem;
  }

  &__card {
    position: relative;
    border-radius: 3rem;

    &:hover .destination__info {
      opacity: 1;
      visibility: visible;
    }
  }

  &__info {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 1.6rem;
    left: 1.6rem;
    right: 1.6rem;
    padding: 1.8rem 3.9rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem 0;
    text-align: center;
    background: rgba(5, 16, 31, 0.15);
    backdrop-filter: blur(30px);
    border-radius: 12px;

    transition: all 0.2s linear;
  }

  &__name {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #eff3ff;
  }

  &__location {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: white;
  }
}

.package {
  width: 100%;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 5.5rem 0;
    padding-bottom: 9.6rem;
  }

  &__header {
    margin-top: 9.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem 0;
    text-align: center;
  }

  &__title {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 5.2rem;
    letter-spacing: -2%;
    color: #05101f;
  }

  &__subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #52575f;
    max-width: 50.7rem;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3.8rem 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 3rem;
  }

  &__item {
    box-shadow: 0 16px 32px 0 #0000000d;
    border-radius: 3rem;
  }

  &__img {
    width: 100%;
    height: 32rem;
    border-top: 3rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 2.8rem 2.2rem 3rem;
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3rem;
  }

  &__rating {
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
    gap: 0 0.6rem;

    svg {
      width: 1.8rem;
      height: 1.8rem;
    }

    p {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.8rem;
      color: #fea31b;
    }
  }

  &__btn {
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    font-family: "Poppins", sans-serif;
    line-height: 2.6rem;
    &-from {
      font-weight: 400;
      color: #52575f;
    }

    &-content {
      font-weight: 600;
      color: black;
    }
  }

  &__buy {
    padding: 0.5rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.6rem;
    color: white;

    background-color: #3685fb;
    border-radius: 1.8rem;
  }

  &__more {
    width: 18rem;
    height: 6.4rem;
    padding: 1.7rem 5.3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3rem;

    margin: 0 auto;

    color: white;
    border-radius: 3.2rem;
    background-color: #3685fb;
  }
}

.gallery {
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 13rem;
  }

  &__img {
    max-width: 57rem;
    max-height: 55.4rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    max-width: 47rem;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 5.2rem;
    letter-spacing: -2%;
    color: #05101f;
  }

  &__subtitle {
    max-width: 47rem;
    margin-top: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #52575f;
  }

  &__btn {
    width: 18rem;
    height: 6.4rem;
    margin-top: 3.8rem;
    padding: 1.7rem 5.3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 3rem;
    font-size: 1.8rem;
    color: white;

    background-color: #3685fb;
    border-radius: 3.2rem;
  }
}

.subscribe {
  width: 100%;
  padding: 9.6rem 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem 0;
  }

  &__title {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 5.2rem;
    letter-spacing: -2%;
    color: #05101f;
  }

  &__subtitle {
    max-width: 50.7rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #52575f;
  }

  &__email {
    width: 47rem;
    height: 6.4rem;
    position: relative;
    border-radius: 3.3rem;
  }

  &__input {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 1.8rem 18rem 1.8rem 2.8rem;
    outline: none;
    border: 1px solid #a3a8b1;
    border-radius: 3.3rem;
  }

  &__btn {
    position: absolute;
    width: 16rem;
    height: 6.4rem;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 3.2rem;
    background-color: #3685fb;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.8rem;
    border: none;
  }
}
